In [2]:
import QuantLib as ql
import pandas as pd

In [3]:
date = ql.Date(31, 3, 2015)
print(date)

March 31st, 2015

In [4]:
date.weekday() == ql.Tuesday

True

In [8]:
russia_Calendar = ql.Russia()
period = ql.Period(60, ql.Days)
raw_date = date + period
rus_date = russia_Calendar.advance(date, period)

print("Add 60 days: {0}".format(raw_date))
print("Add 60 business days in RU: {0}".format(rus_date))

Add 60 days: May 30th, 2015
Add 60 business days in RU: June 26th, 2015

In [7]:
print(russia_Calendar.MOEX)

1

In [9]:
# short stub in the front
effective_date = ql.Date(1, 1, 2015)
termination_date = ql.Date(1, 1, 2016)
first_date = ql.Date(15, 1, 2015)
tenor = ql.Period(ql.Monthly)
calendar = ql.UnitedStates(ql.UnitedStates.GovernmentBond)
business_convention = ql.Following
termination_business_convention = ql.Following
end_of_month = False

schedule = ql.Schedule(
    effective_date,
    termination_date,
    tenor,
    calendar,
    business_convention,
    termination_business_convention,
    ql.DateGeneration.Backward,
    end_of_month,
    first_date)

pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    January 15th, 2015
2    February 2nd, 2015
3       March 2nd, 2015
4       April 1st, 2015
5         May 1st, 2015
6        June 1st, 2015
7        July 1st, 2015
8      August 3rd, 2015
9   September 1st, 2015
10    October 1st, 2015
11   November 2nd, 2015
12   December 1st, 2015
13    January 4th, 2016